<div class="form-group msg-form">
  <%= form_with(model: [@single_room, @message], class: 'flex') do |f| %>
    <%= f.text_field :content, id: 'chat-text', class:'form-control msg-content', autocomplete: 'off' %>
    <button type='submit'><i class="fa-regular fa-paper-plane"></i></button>
  <% end %>
</div>
